.activecss{
     border-bottom: 3px solid #0067FF;
}

#photo {
clear: both;
line-height: 0;
column-count: 4;
column-gap: 0px;
}

.salestext{
    float: left;
    position: left center bottom;
    margin-top: 5px;
}

@media screen and (max-width: 1393px ){
  .priceimg{
    clear: both;
    width: 400px; 
    height: 200px;
    position: center;
    float: left;
    padding: 0;
   }

}

@media screen and (max-width:943px) {
  .priceimg{
    clear: both;
    width: 400px;
    height: 200px;
    position: center;
    float: left;
    padding: 0;
   }
}

@media screen and(max-width: 800px){
  .priceimg{
    clear: both;
    width: 200px;
    height: 50px;
    position: center;
    float: left;
    padding: 0;
  }

    .column {
    flex: 50%;
    max-width: 50%;
  }
}