.activecss{
     border-bottom: 3px solid #0067FF;
}

@media screen and (max-width: 1393px ){
  #jumbotron,#list-group,#list-group-item,#nav-item,#navbar-brand,#{
    width: 65%;
    height: 1200px;
    margin: 0 auto;
  }

  #priceimg{
    clear: both;
    width: 100%;
    float: left;
    padding: 0;
}

}

@media screen and (max-width:943px) {

}

@media screen and(max-width: 800px){

}